
h1 {
    color: cadetblue;
}
    
    
    p {
    color: slategray;
    font-size: 18px;
    font-weight: bold;
    
     }


 .info{
     font: size 30px;
     color: burlywood;
     }

     #wayne{
         color: rgb(99, 99, 63);
     }